@import "./mocha.css";

* {
  border: none;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 11pt;
  /* min-height: 0; */
  /* padding: 2px; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  /* border-radius: 15px; */
  margin: 0;
  padding: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  /* opacity: 0.8; */
  color: @text;
}

window#waybar {
  padding-bottom: 100px;
  padding-top: 100px;
  background: rgba(30, 30, 46, 0.75);
}

/*Entire Bar*/
#waybar {
  /* background: @crust; */
  color: @text;
}

#tray {
  margin-left: 10px;
  margin-right: 10px;
}

/*workspaces*/
#workspaces button label {
  color: 	@surface2;
  font-weight: bolder;
}

#workspaces button.active label {
  color: @base;
  font-weight: bolder;
}

#workspaces {
  /* background-color: @surface0; */
  /* margin-top: 2px; */
  margin-right: 6px;
  margin-left: 6px;
}

#workspaces button {
  background-color: @crust;
  margin-right: 10px;
  font-weight: bolder;
  padding-left: 3px;
  padding-right: 3px;
}

#workspaces button.active {
  background: @text;
  /* background-size: 400% 400%; */
  color: @crust;
}

#workspaces button.active label {
  background-color: @text;
}

#mpd {
  margin-left: 20px;
}

#mpd.playing {
  color: @green;
}

#disk {
  color: @maroon;
  margin-right: 15px;
}

#language {
  color: @mauve;
  margin-right: 15px;
}

#cpu {
  color: @green;
  margin-right: 15px;
}

#memory {
  color: @blue;
  margin-right: 15px;
}

#pulseaudio {
  color: @red;
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  /* margin-top: 2px; */
  margin-right: 15px;
}

/*clock*/
#clock {
  /* font-size: 15px; */
}

#clock label {
  color: @lavender;
  font-weight: bolder;
}

#clock {
  color: @lavender;
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  /* margin-top: 2px; */
  margin-right: 15px;
}

#network {
  margin-right: 15px;
}

#network {
  color: @sapphire;
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  /* margin-top: 2px; */
}

#battery {
  color: @yellow;
  /* font-size: 15px; */
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  /* margin-top: 2px; */
  margin-right: 20px;
}
